@font-face {
    font-family: DefaultFont;
    src: url(font/Web437_IBM_VGA_8x16.woff)
}

@media only screen and (pointer:coarse) {
    /* Phone */
    #mainbox {
    width: 80%;
    font-size: 2.5vmax;
    }

    .badge {
        width: 20vmin;
    }
}

@media only screen and (pointer:fine) {
    /* Computer */
    #mainbox {
    width: 640px
    }
}

body {
    background-color: #000000;
    background-image: url(img/trippystars.gif);
    font-family: DefaultFont;
    font-size: 1em;
    color: #ffffff;
}

#mainbox {
    text-align: center;
    margin: auto;
    padding: 1em;
    border-style: solid;
    border-width: 5px;
    border-color: #4a4a80;
    background-color: #111111
}

a:link {
    color: #d2d2e5;
}
a:visited {
    color: #9797c3;
}
a:hover {
    color: #ffffff;
}

hr {
    display: block;
    height: .25ch;
    border: 0;
    border-color: #4a4a80;
    background-color: #4a4a80;
    margin: 1em 0;
    padding: 0;
}
